In [8]:
import pandas as pd
df=pd.read_csv('weather.csv')
df

        day  temerature  windspeed  event
0  01-01-17          32          6   Rain
1  01-03-17          35          7  Sunny
2  01-04-14          28          2   snow
3  01-02-17          24          7   snow
4  01-05-17          32          4   Rain
5  01-06-17          32          2  Sunny

In [14]:
weather_data={
    'day' : ['1/1/17','1/3/17','1/4/14','1/2/17','1/5/17','1/6/17'],
    'temperature' : [32,35,28,24,32,32],
    'windspeed' : [10,20,15,12,12,13],
    'event' : ['rain','sunny','snow','snow','rain','sunny']
    
}
df=pd.DataFrame(weather_data)
df

      day  temperature  windspeed  event
0  1/1/17           32         10   rain
1  1/3/17           35         20  sunny
2  1/4/14           28         15   snow
3  1/2/17           24         12   snow
4  1/5/17           32         12   rain
5  1/6/17           32         13  sunny

In [15]:
df.shape

(6, 4)

In [16]:
df.head

<bound method NDFrame.head of       day  temperature  windspeed  event
0  1/1/17           32         10   rain
1  1/3/17           35         20  sunny
2  1/4/14           28         15   snow
3  1/2/17           24         12   snow
4  1/5/17           32         12   rain
5  1/6/17           32         13  sunny>

In [18]:
df.tail(2)

      day  temperature  windspeed  event
4  1/5/17           32         12   rain
5  1/6/17           32         13  sunny

In [19]:
df[2:]

      day  temperature  windspeed  event
2  1/4/14           28         15   snow
3  1/2/17           24         12   snow
4  1/5/17           32         12   rain
5  1/6/17           32         13  sunny

In [20]:
df[2:5]

      day  temperature  windspeed event
2  1/4/14           28         15  snow
3  1/2/17           24         12  snow
4  1/5/17           32         12  rain

In [21]:
df[0]

KeyError: 0

In [22]:
df['event']

0     rain
1    sunny
2     snow
3     snow
4     rain
5    sunny
Name: event, dtype: object

In [26]:
df['windspeed'].max()

20

In [28]:
df['windspeed'].ipynb_checkpoints/

0    10
1    20
2    15
3    12
4    12
5    13
Name: windspeed, dtype: int64

In [29]:
df['windspeed'].mean()

13.666666666666666

In [31]:
df['windspeed'].std()

3.5023801430836525

In [32]:
df[df.temperature>=32]

      day  temperature  windspeed  event
0  1/1/17           32         10   rain
1  1/3/17           35         20  sunny
4  1/5/17           32         12   rain
5  1/6/17           32         13  sunny

In [33]:
df[df.temperature==df['temperature'].max()]

      day  temperature  windspeed  event
1  1/3/17           35         20  sunny

In [34]:
df['day']

0    1/1/17
1    1/3/17
2    1/4/14
3    1/2/17
4    1/5/17
5    1/6/17
Name: day, dtype: object

In [36]:
df[ ['day','event' ]]

      day  event
0  1/1/17   rain
1  1/3/17  sunny
2  1/4/14   snow
3  1/2/17   snow
4  1/5/17   rain
5  1/6/17  sunny

In [38]:
df[['day','event']] [df.temperature ==df['temperature'].max()]

      day  event
1  1/3/17  sunny

In [39]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [40]:
df.index()

TypeError: 'RangeIndex' object is not callable

In [41]:
df.set_index('day')

        temperature  windspeed  event
day
1/1/17           32         10   rain
1/3/17           35         20  sunny
1/4/14           28         15   snow
1/2/17           24         12   snow
1/5/17           32         12   rain
1/6/17           32         13  sunny

In [42]:
df

      day  temperature  windspeed  event
0  1/1/17           32         10   rain
1  1/3/17           35         20  sunny
2  1/4/14           28         15   snow
3  1/2/17           24         12   snow
4  1/5/17           32         12   rain
5  1/6/17           32         13  sunny

In [44]:
df.set_index('day',inplace=True)
df

KeyError: 'day'

In [45]:
df

        temperature  windspeed  event
day
1/1/17           32         10   rain
1/3/17           35         20  sunny
1/4/14           28         15   snow
1/2/17           24         12   snow
1/5/17           32         12   rain
1/6/17           32         13  sunny

In [46]:
df.reset_index()

      day  temperature  windspeed  event
0  1/1/17           32         10   rain
1  1/3/17           35         20  sunny
2  1/4/14           28         15   snow
3  1/2/17           24         12   snow
4  1/5/17           32         12   rain
5  1/6/17           32         13  sunny

In [48]:
df.set_index('day')

KeyError: 'day'

In [50]:
df.set_index('day',inplace=True)

KeyError: 'day'

In [53]:
df

        temperature  windspeed  event
day
1/1/17           32         10   rain
1/3/17           35         20  sunny
1/4/14           28         15   snow
1/2/17           24         12   snow
1/5/17           32         12   rain
1/6/17           32         13  sunny

In [54]:
df.reset_index()

      day  temperature  windspeed  event
0  1/1/17           32         10   rain
1  1/3/17           35         20  sunny
2  1/4/14           28         15   snow
3  1/2/17           24         12   snow
4  1/5/17           32         12   rain
5  1/6/17           32         13  sunny

In [55]:
df

        temperature  windspeed  event
day
1/1/17           32         10   rain
1/3/17           35         20  sunny
1/4/14           28         15   snow
1/2/17           24         12   snow
1/5/17           32         12   rain
1/6/17           32         13  sunny

In [56]:
print('Read and write CSV and Excel File')

Read and write CSV and Excel File

In [58]:
df=pd.read_csv('stocks.csv')
df

  tickers            eps  revenue price  people
0  google          27.82       87   845    page
1     wmt           4.61      484    65    n.a.
2     ril             -1       85    64    gate
3    tata  not available       50  1023  ambani
4    msft            5.6       -1  n.a.   ratan

In [60]:
df

  tickers            eps  revenue price  people
0  google          27.82       87   845    page
1     wmt           4.61      484    65    n.a.
2     ril             -1       85    64    gate
3    tata  not available       50  1023  ambani
4    msft            5.6       -1  n.a.   ratan

In [63]:
df=pd.read_csv('stocks.csv',header=None)
df

         0              1        2      3       4
0  tickers            eps  revenue  price  people
1   google          27.82       87    845    page
2      wmt           4.61      484     65    n.a.
3      ril             -1       85     64    gate
4     tata  not available       50   1023  ambani
5     msft            5.6       -1   n.a.   ratan

In [65]:
df=pd.read_csv('stocks.csv',nrows=3)
df

  tickers    eps  revenue  price people
0  google  27.82       87    845   page
1     wmt   4.61      484     65   n.a.
2     ril  -1.00       85     64   gate

In [66]:
df

  tickers    eps  revenue  price people
0  google  27.82       87    845   page
1     wmt   4.61      484     65   n.a.
2     ril  -1.00       85     64   gate

In [68]:
df=pd.read_csv('stocks.csv',na_values=['not available','n.a.'])
df

  tickers    eps  revenue   price  people
0  google  27.82       87   845.0    page
1     wmt   4.61      484    65.0     NaN
2     ril  -1.00       85    64.0    gate
3    tata    NaN       50  1023.0  ambani
4    msft   5.60       -1     NaN   ratan

In [70]:
df=pd.read_csv('stocks.csv',na_values={
    'eps' : ['not available','n.a.'] ,
    'revenue' : ['not available','n.a.',-1]
})
df

  tickers    eps  revenue price  people
0  google  27.82     87.0   845    page
1     wmt   4.61    484.0    65    n.a.
2     ril  -1.00     85.0    64    gate
3    tata    NaN     50.0  1023  ambani
4    msft   5.60      NaN  n.a.   ratan

In [71]:
print("Create a CSV File ")

Create a CSV File

In [73]:
df.to_csv('new.csv')

In [75]:
df.to_csv('new.csv',index=False)
df

  tickers    eps  revenue price  people
0  google  27.82     87.0   845    page
1     wmt   4.61    484.0    65    n.a.
2     ril  -1.00     85.0    64    gate
3    tata    NaN     50.0  1023  ambani
4    msft   5.60      NaN  n.a.   ratan

In [76]:
df.to_csv('new.csv',index=False,columns=['tickers','price'])

In [77]:
print("Excel File Read and Write")

Excel File Read and Write

In [81]:
df=pd.read_excel('stocks.xlsx','Sheet1')
df

  tickers            eps  revenue price  people
0  google          27.82       87   845    page
1     wmt           4.61      484    65    n.a.
2     ril             -1       85    64    gate
3    tata  not available       50  1023  ambani
4    msft            5.6       -1  n.a.   ratan

In [84]:
def converter_people_cell(cell):
    if cell=='n.a.':
        return None
    return cell
def converter_eps_cell(cell):
    if cell=='not available':
        return None
    return cell

df=pd.read_excel('stocks.xlsx','Sheet1',converters={
    
    'people':converter_people_cell,
    'eps':converter_eps_cell
})

df

  tickers    eps  revenue price  people
0  google  27.82       87   845    page
1     wmt   4.61      484    65    None
2     ril  -1.00       85    64    gate
3    tata    NaN       50  1023  ambani
4    msft   5.60       -1  n.a.   ratan

In [85]:
print('One Excel Has many sheet ')

One Excel Has many sheet

In [88]:
df_stocks=pd.read_excel('stocks.xlsx','Sheet1')

In [91]:

df_weather=pd.read_excel('weather.xlsx','Sheet1')

In [92]:
df_stocks

  tickers            eps  revenue price  people
0  google          27.82       87   845    page
1     wmt           4.61      484    65    n.a.
2     ril             -1       85    64    gate
3    tata  not available       50  1023  ambani
4    msft            5.6       -1  n.a.   ratan

In [93]:
df_weather

         day  temerature  windspeed  event
0 2017-01-01          32          6   Rain
1 2017-03-01          35          7  Sunny
2 2014-04-01          28          2   snow
3 2017-02-01          24          7   snow
4 2017-05-01          32          4   Rain
5 2017-06-01          32          2  Sunny

In [102]:
with pd.ExcelWriter('path_to_file.xlsx') as writer

df_stocks.to_excel(writer,sheet_name='stocks')
df_weather.to_excel(writer,sheet_name='weather')

SyntaxError: invalid syntax (<ipython-input-102-a0472c6a33ad>, line 1)